<a href="https://colab.research.google.com/github/JonathanMartignon/TallerPythonXlrd/blob/main/Introducci%C3%B3n_a_xlrd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libreta introductoria a la lectura de excel con python.
## Por: Jonathan Martiñón
Para mayor información, consultar: [Documentación](https://xlrd.readthedocs.io/en/latest/) [Instalación](https://pypi.org/project/xlrd/)

Otras librerías: [Librerías](http://www.python-excel.org/)

[Excel](https://docs.google.com/spreadsheets/d/111PfcT5QoTOtpnLIRXTlj3TFiN8FR56wYQcgsrBxNsY/edit?usp=sharing)

# Introducción Básica a Python

## Instalar en Windows: [Microsoft](https://docs.microsoft.com/en-us/windows/python/beginners)

1. Abrimos nuestra Microsoft Store
2. Buscamos *Python 3.7*
3. Seleccionamos "Obtener" y esperamos.
4. Abrimos cmd (Podemos buscar la terminal en el buscador windows)
5. Comprobamos con `python --version`
6. Nos dirigimos al sitio de [Anaconda](https://www.anaconda.com/products/individual) y descargamos nuestra versión
7. Abrimos el ejecutable y seguimos las instrucciones
8. No es necesario registrarse, basta con buscar Anaconda en el explorador

## Variables

In [ ]:
# Enteros
variable = 2
print(variable)
print(type(variable))

2
<class 'int'>

In [ ]:
# Flotantes
variable = 2.0
print(variable)
print(type(variable))

2.0
<class 'float'>

In [ ]:
# Cadenas
variable = "2"
print(variable)
print(type(variable))

2
<class 'str'>

In [ ]:
# una cadena puede tener comillas internas
# Siempre que sean distintas a las que indican que es cadena
"Ejemplo de 'comillas'"

"Ejemplo de 'comillas'"

## Operaciones

#### Básicas

In [ ]:
# Módulo
200 % 2

0

In [ ]:
# Multiplicación
2*10

20

In [ ]:
# Suma
2 + 10

12

In [ ]:
# Potencia
2 ** 3

8

In [ ]:
# Función piso
19 // 5

3

In [ ]:
# Multiplicación por caracter
"a"*10

'aaaaaaaaaa'

In [ ]:
# Multiplicación por cadena
"201 " * 2

'201 201 '

In [ ]:
# Operaciones no compatibles
"a" + 10
"a" / 10
"a" - 10

In [ ]:
# Podemos tomar una parte de la cadena
cad = "Hola, cómo estás?"

# hay que tomar en cuenta que si hacemos [:10]
# Por la numeración, no toma el elemento 10, sino el 9

# Tomamos los primeros 10 elementos
print("10 primeros:",cad[:10])

# Tomamos los últimos 10 elementos
print("10 últimos:",cad[-10:])

# Tomamos del 5to al 15vo elemento
print("Caracteres del 5 al 15:",cad[6:15])

10 primeros: Hola, cómo
10 últimos: ómo estás?
Caracteres del 5 al 15: cómo está

#### Entre variables

In [ ]:
variable1 = 10
variable2 = 20
variable3 = "hola mundo"

In [ ]:
variable1 * variable2

200

In [ ]:
# incrementamos la variable en su valor más 10
variable1 += 10
# Mostramos la variable
variable1

20

In [ ]:
# decrementamos la variable en su valor menos 5
variable1 -= 5
# Mostramos la variable
variable1

15

In [ ]:
# Capitalizamos la cadena
variable3.capitalize()

'Hola mundo'

In [ ]:
# Cadena a mayúsculas
variable3.upper()

'HOLA MUNDO'

In [ ]:
# Cada inicio con mayúsculas
variable3.title()

'Hola Mundo'

In [ ]:
#Reemplazando "o" por "0"
variable3.replace("o","0")

'h0la mund0'

In [ ]:
# Generando una lista a partir de cada espacio
variable3.split()

['hola', 'mundo']

In [ ]:
# Generando una lista a partir de cada o
variable3.split("o")

['h', 'la mund', '']

In [ ]:
# Concatenando cadenas
"Hola" + "Cómo" + "Estás?"

'HolaCómoEstás?'

In [ ]:
# Concatenando cadenas en variables
cad1 = "Hola "
cad2 = "Cómo estás?"
cad1 + cad2

'Hola Cómo estás?'

## Conversión de tipos

#### Entero

In [ ]:
# Declaramos una variable entera
var1 = 2
# Verificamos su clase (tipo)
print(var1,type(var1))

2 <class 'int'>

In [ ]:
# Convertimos a string
var_str_1 = str(var1)
# Verificamos su clase (tipo)
print(var_str_1,type(var_str_1))

2 <class 'str'>

In [ ]:
# Convertimos a flotante
var_float_1 = float(var1)
# Verificamos su clase (tipo)
print(var_float_1,type(var_float_1))

2.0 <class 'float'>

#### Cadena

In [ ]:
var2 = "Hola"
# Verificamos su clase (tipo)
print(var2,type(var2))

Hola <class 'str'>

In [ ]:
# Convertimos a entero
var_int_2 = int(var2)
# Verificamos su clase (tipo)
print(var_int_2,type(var_int_2))

ValueError: ignored

In [ ]:
# Convertimos a entero
var_float_2 = float(var2)
# Verificamos su clase (tipo)
print(var_float_2,type(var_float_2))

ValueError: ignored

##

## Listas

In [ ]:
# Listas
# Conjunto de elementos 
lista = ["2",2,2.0]
lista

['2', 2, 2.0]

In [ ]:
# Accediendo a un elemento en particular
lista[0]

'2'

In [ ]:
# Editando 1 elemento en particular
print("Lista",lista)
lista[0] = "Cambio"
print("Nueva Lista:",lista)

Lista ['2', 2, 2.0]
Nueva Lista: ['Cambio', 2, 2.0]

In [ ]:
# Recorriendo cada elemento de la lista
for elemento in lista:
  print(elemento)

Cambio
2
2.0

In [ ]:
# Recorriendo y enumerando cada elemento de la lista
for i,elemento in enumerate(lista):
  #print(i+1,".- ",elemento)
  print(f"{i+1}.- {elemento}")

1.- Cambio
2.- 2
3.- 2.0

In [ ]:
# Agregando elemento a una lista
print("Lista: ",lista)
lista.append("new")
print("nueva lista: ",lista)

Lista:  ['Cambio', 2, 2.0]
nueva lista:  ['Cambio', 2, 2.0, 'new']

## Funciones

La sintaxis es:

`def` nombre (`variables`):

  `Proceso interno`

In [ ]:
def mi_primer_funcion():
  '''
  @Autor: Jonathan Martiñón

  @Descripción:   Función ejemplo

  @Parámetros:    None

  @Devuelve:      None

  @Ejemplo:

  mi_primer_funcion()
  >>> 'Esta es mi primer función'
  '''

  print("Esta es mi primer función")

In [ ]:
mi_primer_funcion()

Esta es mi primer función

In [ ]:
def cuadrado(x):
  '''
  @Autor: Jonathan Martiñón

  @Descripción:   Función ejemplo para calcular cuadrados

  @Parámetros:    

  x               Número a calcular su cuadrado         INT / FLOAT

  @Devuelve:      None

  @Ejemplo:

  x = 2
  cuadrado(x)
  >>> El cuadrado de 2 es 4 

  x = 8
  cuadrado(x)
  >>> El cuadrado de 8 es 64 
  '''

  print(f"El cuadrado de {x} es {x*x}")
  #print(f"El cuadrado de {x} es {x**2}")

In [ ]:
x = 2
cuadrado(x)

El cuadrado de 2 es 4

In [ ]:
def cuadrado_con_retorno(x):
  '''
  @Autor: Jonathan Martiñón

  @Descripción:   Función ejemplo para calcular cuadrados con retorno

  @Parámetros:    

  x               Número a calcular su cuadrado         INT / FLOAT

  @Devuelve:

  cuad            Cuadrado de x

  @Ejemplo:

  x = 2
  cuadrado(x)
  >>> 4

  x = 8
  cuadrado(x)
  >>> 64
  '''

  cuad = x ** 2
  return cuad

In [ ]:
x = 2
cuadrado_con_retorno(x)

4

In [ ]:
auxiliar = cuadrado_con_retorno(x)
print(auxiliar)

4

### FOR

In [ ]:
# De 0 a 5
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# De 1 a 5 con saltos de 2
for i in range(1,5,2):
  print(i)

1
3

In [ ]:
# De 0 a -10 con saltos negativos
for i in range(0,-10,-2):
  print(i)

0
-2
-4
-6
-8

In [ ]:
for niño in ["Tomás","Jaime","Arthur","Paco"]:
  print(niño)

Tomás
Jaime
Arthur
Paco

### IF

In [ ]:
# Igual
if 2 == "2":
  print("Es igual")
else:
  print("Son distintos")

Son distintos

In [ ]:
# Igual
if 2 == 2:
  print("Es igual")
else:
  print("Son distintos")

Es igual

In [ ]:
# Igual
if "Hola, mundo" == "hola, mundo":
  print("Es igual")
else:
  print("Son distintos")

Son distintos

In [ ]:
# Dos comparaciones
if 5 < 10 and  5>1:
  print("Se cumple")
else:
  print("No se cumple")

Se cumple

In [ ]:
# Dos comparaciones
if 10 <= 10 or  5>10:
  # Se cumple, puesto que basta sólo 1 verdad
  print("Se cumple")
else:
  print("No se cumple")

Se cumple

In [ ]:
# distinto
if "Juan" != "Pepe":
  print("Es distinto")
else:
  print("No es distinto")

Es distinto

In [ ]:
# incluido en lista
if 5 in ["1","2","5"]:
  print("Está en la lista")
else:
  print("No está en la lista")

No está en la lista

In [ ]:
# incluido en lista
if 5 in ["1","2",5]:
  print("Está en la lista")
else:
  print("No está en la lista")

Está en la lista

### While

In [ ]:
# Ciclo 'infinito'
k = 0
while True:
  print(f"iteración: {k+1}")
  k+=1

  # Nuestro freno
  if k == 10:
    # Rompe el ciclo, sea while o for
    break

iteración: 1
iteración: 2
iteración: 3
iteración: 4
iteración: 5
iteración: 6
iteración: 7
iteración: 8
iteración: 9
iteración: 10

In [ ]:
aux = 5
# Ciclo  incremental
while aux < 10:
  print(aux)
  aux+=1

5
6
7
8
9

## Estructuras

## Ejercicios:



*   Genera una Función que reciba 3 elementos:

     1. Nombre de la tabla
     2. Columnas
     3. Valores

    Y devuelva una instrucción INSERT INTO. Por ejemplo:

    Funcion(variable1, variable2, variable3)
    
    \>>>"INSERT INTO empleados (nombre,edad,genero) VALUES ('Javier Gómez', 35, 'M');"



*   Dado el siguiente texto: 

    "Mario compró: 6 manzanas, 4 peras, 2 naranjas, 1 limón"

    1. Extrae en una lista las frutas y cantidades que compró Mario
    
    \>>> ["6 manzanas", "4 peras", "2 naranjas", "1 limón"]

    2. **OPCIONAL**: Divide la lista en 2, una de strings y otra de enteros:

    \>>> ["manzanas", "peras", "naranjas", "limón"]

    \>>> [6, 4, 2, 1]

---

# XLRD

---

# Librerías

In [ ]:
try:
  import xlrd
except:
  !pip install xlrd
  import xlrd

# Funciones

In [ ]:
def cuenta_lista(lista):
  '''
  @Autor: Jonathan Martiñón

  @Descripción:   Función encargada de mostrar los elementos
                  de una lista, por números.
  @Parámetros:

  lista           lista de elementos a enumerar       LIST

  @Devuelve:      None

  @Ejemplo:

  lista = ["Manzana", "Pera", "Jícama"]
  cuenta_lista(lista)
  >>> 1.- Manzana
  >>> 2.- Pera
  >>> 3.- Jícama
  '''

  # Recorremos cada elemento en la lista
  # Numerándolos al mismo tiempo
  for i,elemento in enumerate(lista):

    # Dado que la numeración inicia en 0
    # Se sumará 1, para iniciar en 1
    print(f"{i+1}.- {elemento}")

# Ejemplos

## Lectura de datos

In [ ]:
documento = xlrd.open_workbook("./Documento interactivo para taller.xlsx")
documento

## Análisis de hojas

In [ ]:
# Contamos las hojas en el documento
print(f"Contamos con {documento.nsheets} hojas")

Contamos con 4 hojas

In [ ]:
# Mostramos los nombres de las hojas
documento.sheet_names()

['Calificaciones', 'Alumnos', 'Materias', 'Profesores']

In [ ]:
# Usando una función
cuenta_lista(documento.sheet_names())

1.- Calificaciones
2.- Alumnos
3.- Materias
4.- Profesores

### Analizando una hoja

In [ ]:
documento.sheet_names()[0]

'Calificaciones'

In [ ]:
# Obteniendo una hoja por su nombre
hoja1 = documento.sheet_by_name("Calificaciones")

In [ ]:
# Obteniendo una hoja por su índice
hoja_1_2 = documento.sheet_by_index(0)

In [ ]:
#Renglones y columnas en la hoja
print(f"Hoja 1\nNombre: {hoja1.name}\nRenglones: {hoja1.nrows}\nColumnas: {hoja1.ncols}")

Hoja 1
Nombre: Calificaciones
Renglones: 21
Columnas: 7

In [ ]:
#Renglones y columnas en la hoja
print(f"Hoja 1\nNombre: {hoja_1_2.name}\nRenglones: {hoja_1_2.nrows}\nColumnas: {hoja_1_2.ncols}")

Hoja 1
Nombre: Calificaciones
Renglones: 21
Columnas: 7

In [ ]:
# Análisis por renglón
hoja1.row(0)

[text:'Documento que servirá como guía para el taller',
 empty:'',
 empty:'',
 empty:'',
 empty:'',
 empty:'',
 empty:'']

In [ ]:
# Análisis por renglón
hoja1.row(1)

[text:'Por: Jonathan Martiñón',
 empty:'',
 empty:'',
 empty:'',
 empty:'',
 empty:'',
 empty:'']

In [ ]:
# Análisis por renglón
hoja1.row(2)

[text:'Se considera en Final a todo alumno con calificación menor a 8',
 empty:'',
 empty:'',
 empty:'',
 empty:'',
 empty:'',
 empty:'']

In [ ]:
# Análisis por renglón
hoja1.row(3)

[text:'#',
 text:'Id Alumno',
 text:'Id Materia',
 text:'Id Profesor',
 text:'Calificación',
 text:'Estado',
 text:'Fecha Registro']

In [ ]:
# Análisis por renglón
hoja1.row(4)

[number:1.0,
 number:10.0,
 number:2.0,
 number:2.0,
 number:6.0,
 text:'Reprobado',
 xldate:44412.0]

In [ ]:
# Diccionario para columnas
columnas_dict = {0:"A",1:"B",2:"C",3:"D",4:"E",5:"F",
                 6:"G",7:"H",8:"I",9:"J",10:"K",11:"L",
                 12:"M"}
renglon = 4 # 1
columna = 0 # D
print(f"Valor en la celda {columnas_dict[columna]}{renglon+1} es: {hoja1.cell_value(rowx=renglon, colx=columna)}")
print(f"Es de tipo: {type(hoja1.cell_value(rowx=renglon, colx=columna))}")

Valor en la celda A5 es: 1.0
Es de tipo: <class 'float'>

In [ ]:
# Modificando de flotante a entero
int(hoja1.cell_value(rowx=renglon, colx=columna))

1

In [ ]:
renglon = 4 # 3
columna = 5 # D
print(f"Valor en la celda {columnas_dict[columna]}{renglon+1} es: {hoja1.cell_value(rowx=renglon, colx=columna)}")
print(f"Es de tipo: {type(hoja1.cell_value(rowx=renglon, colx=columna))}")

Valor en la celda F5 es: Reprobado
Es de tipo: <class 'str'>

In [ ]:
# Probando con valor faltante
hoja2 = documento.sheet_by_index(1)
renglon = 6 # 3
columna = 1 # E
print(f"Valor en la celda {columnas_dict[columna]}{renglon+1} es: {hoja2.cell_value(rowx=renglon, colx=columna)}")
print(f"Es de tipo: {type(hoja1.cell_value(rowx=renglon, colx=columna))}")

Valor en la celda B7 es:
Es de tipo: <class 'float'>

In [ ]:
# Obteniendo la celda que nos interesa
hoja1.row(4)[1]

number:10.0

In [ ]:
# Obteniendo su valor
hoja1.row(4)[1].value

10.0

In [ ]:
# Obteniendo la celda que nos interesa
hoja1.row(2)[4].value

''

In [ ]:
# Obteniendo valor de tipo fecha
# Deberíamos tener 2021-08-04 YYY-MM-DD
hoja1.row(4)[-1]

xldate:44412.0

In [ ]:
print(f"Tipo: {hoja1.row(4)[-1].ctype}")
print(f"Celda tipo fecha: {xlrd.XL_CELL_DATE}")

Tipo: 3
Celda tipo fecha: 3

In [ ]:
# Podemos usar la propiedad para detectar celdas de tipo fecha
hoja1.row(4)[-1].ctype == xlrd.XL_CELL_DATE

True

In [ ]:
from datetime import datetime

In [ ]:
fecha = hoja1.row(4)[-1].value
datetime(*xlrd.xldate_as_tuple(fecha, documento.datemode))

datetime.datetime(2021, 8, 4, 0, 0)

In [ ]:
datetime.strptime('21/08/10', '%y/%m/%d')

datetime.datetime(2021, 8, 10, 0, 0)

In [ ]:
dia1 = datetime(*xlrd.xldate_as_tuple(fecha, documento.datemode))
dia2 = datetime.strptime('21/08/10', '%y/%m/%d')

In [ ]:
abs(dia1 - dia2)

datetime.timedelta(days=6)

# OS

In [ ]:
import os

In [ ]:
os.listdir("./")

['.config',
 'Documento interactivo para taller.xlsx',
 '.ipynb_checkpoints',
 'sample_data']

# Ejercicios

# PostgreSQL
1. Descargarlo [PostreSQL](https://www.postgresql.org/download/)
2. Abrir el ejecutable y continuar con las instrucciones