<a href="https://colab.research.google.com/github/JonathanMartignon/TallerPythonXlrd/blob/main/Introducci%C3%B3n_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libreta introductoria a python.
## Por: Jonathan Martiñón

# Instalar en Windows: [Microsoft](https://docs.microsoft.com/en-us/windows/python/beginners)

1. Abrimos nuestra Microsoft Store
2. Buscamos *Python 3.7*
3. Seleccionamos "Obtener" y esperamos.
4. Abrimos cmd (Podemos buscar la terminal en el buscador windows)
5. Comprobamos con `python --version`

Para descargar jupyter, lo haremos a través de Anaconda
1. Nos dirigimos al sitio de [Anaconda](https://www.anaconda.com/products/individual) y descargamos nuestra versión
2. Abrimos el ejecutable y seguimos las instrucciones
3. No es necesario registrarse, basta con buscar Anaconda en el explorador de windows

# Variables

In [1]:
# Enteros
variable = 2
print(variable)
print(type(variable))

2
<class 'int'>

In [2]:
# Flotantes
variable = 2.0
print(variable)
print(type(variable))

2.0
<class 'float'>

In [3]:
# Cadenas
variable = "2"
print(variable)
print(type(variable))

2
<class 'str'>

In [4]:
# una cadena puede tener comillas internas
# Siempre que sean distintas a las que indican que es cadena
"Ejemplo de 'comillas'"

"Ejemplo de 'comillas'"

# Operaciones

## Básicas

In [5]:
# Módulo (Residuo)
200 % 2

0

In [6]:
# Multiplicación
2*10

20

In [7]:
# Suma
2 + 10

12

In [8]:
# Potencia
2 ** 3

8

In [9]:
# Función piso (Redondea al entero menor más próximo)
# 1.9 -> 1
19 // 5

3

In [10]:
# Multiplicación por caracter
"a"*10

'aaaaaaaaaa'

In [11]:
# Multiplicación por cadena
"201 " * 2

'201 201 '

In [12]:
# Operaciones no compatibles
"a" + 10
"a" / 10
"a" - 10

TypeError: ignored

In [13]:
# Podemos tomar una parte de la cadena
cad = "Hola, cómo estás?"

# hay que tomar en cuenta que si hacemos [:10]
# Por la numeración, no toma el elemento 10, sino el 9

# Tomamos los primeros 10 elementos
print("10 primeros:",cad[:10])

# Tomamos los últimos 10 elementos
print("10 últimos:",cad[-10:])

# Tomamos del 5to al 15vo elemento
print("Caracteres del 5 al 15:",cad[6:15])

10 primeros: Hola, cómo
10 últimos: ómo estás?
Caracteres del 5 al 15: cómo está

## Entre Variables

In [14]:
#Declaración de variables
variable1 = 10
variable2 = 20
variable3 = "hola mundo"

In [15]:
# Multiplicacion de variables
variable1 * variable2

200

In [16]:
# incrementamos la variable en su valor más 10
variable1 += 10
# Mostramos la variable
variable1

20

In [17]:
# decrementamos la variable en su valor menos 5
variable1 -= 5
# Mostramos la variable
variable1

15

In [18]:
# Capitalizamos la cadena
variable3.capitalize()

'Hola mundo'

In [19]:
# Cadena a mayúsculas
variable3.upper()

'HOLA MUNDO'

In [20]:
# Cada inicio con mayúsculas
variable3.title()

'Hola Mundo'

In [21]:
#Reemplazando "o" por "0"
variable3.replace("o","0")

'h0la mund0'

In [22]:
# Generando una lista a partir de cada espacio
variable3.split()

['hola', 'mundo']

In [23]:
# Generando una lista a partir de cada o
variable3.split("o")

['h', 'la mund', '']

In [24]:
# Concatenando cadenas
"Hola" + "Cómo" + "Estás?"

'HolaCómoEstás?'

In [25]:
# Concatenando cadenas en variables
cad1 = "Hola "
cad2 = "Cómo estás?"
cad1 + cad2

'Hola Cómo estás?'

# Conversión de tipo de dato

## Entero

In [26]:
# Declaramos una variable entera
var1 = 2
# Verificamos su clase (tipo)
print(var1,type(var1))

2 <class 'int'>

In [27]:
# Convertimos a string
var_str_1 = str(var1)
# Verificamos su clase (tipo)
print(var_str_1,type(var_str_1))

2 <class 'str'>

In [28]:
# Convertimos a flotante
var_float_1 = float(var1)
# Verificamos su clase (tipo)
print(var_float_1,type(var_float_1))

2.0 <class 'float'>

## Cadena

In [29]:
# Declaramos una cadena
var2 = "Hola"
# Verificamos su clase (tipo)
print(var2,type(var2))

Hola <class 'str'>

In [30]:
# Convertimos a entero
var_int_2 = int(var2)
# Verificamos su clase (tipo)
print(var_int_2,type(var_int_2))

ValueError: ignored

In [31]:
# Convertimos a flotante
var_float_2 = float(var2)
# Verificamos su clase (tipo)
print(var_float_2,type(var_float_2))

ValueError: ignored

# Listas

In [32]:
# Listas
# Conjunto de elementos 
lista = ["2",2,2.0]
lista

['2', 2, 2.0]

In [33]:
# Accediendo a un elemento en particular
lista[0]

'2'

In [34]:
# Editando 1 elemento en particular
print("Lista",lista)
lista[0] = "Cambio"
print("Nueva Lista:",lista)

Lista ['2', 2, 2.0]
Nueva Lista: ['Cambio', 2, 2.0]

In [35]:
# Recorriendo cada elemento de la lista
for elemento in lista:
  print(elemento)

Cambio
2
2.0

In [36]:
# Recorriendo y enumerando cada elemento de la lista
for i,elemento in enumerate(lista):
  #print(i+1,".- ",elemento)
  print(f"{i+1}.- {elemento}")

1.- Cambio
2.- 2
3.- 2.0

In [37]:
# Agregando elemento a una lista
print("Lista: ",lista)
lista.append("new")
print("nueva lista: ",lista)

Lista:  ['Cambio', 2, 2.0]
nueva lista:  ['Cambio', 2, 2.0, 'new']

# Funciones


La sintaxis es:

`def` nombre (`variables`):

  `Proceso interno`

In [38]:
#Generamos una función
def mi_primer_funcion():
  '''
  @Autor: Jonathan Martiñón

  @Descripción:   Función ejemplo

  @Parámetros:    None

  @Devuelve:      None

  @Ejemplo:

  mi_primer_funcion()
  >>> 'Esta es mi primer función'
  '''

  print("Esta es mi primer función")

In [39]:
# Llamamos a la función
mi_primer_funcion()

Esta es mi primer función

In [40]:
# Generamos otra función
def cuadrado(x):
  '''
  @Autor: Jonathan Martiñón

  @Descripción:   Función ejemplo para calcular cuadrados

  @Parámetros:    

  x               Número a calcular su cuadrado         INT / FLOAT

  @Devuelve:      None

  @Ejemplo:

  x = 2
  cuadrado(x)
  >>> El cuadrado de 2 es 4 

  x = 8
  cuadrado(x)
  >>> El cuadrado de 8 es 64 
  '''

  print(f"El cuadrado de {x} es {x*x}")
  #print(f"El cuadrado de {x} es {x**2}")

In [41]:
# Probamos la función "cuadrado"
x = 2
cuadrado(x)

El cuadrado de 2 es 4

In [42]:
# Generamos una función que sí retorna valores
def cuadrado_con_retorno(x):
  '''
  @Autor: Jonathan Martiñón

  @Descripción:   Función ejemplo para calcular cuadrados con retorno

  @Parámetros:    

  x               Número a calcular su cuadrado         INT / FLOAT

  @Devuelve:

  cuad            Cuadrado de x

  @Ejemplo:

  x = 2
  cuadrado(x)
  >>> 4

  x = 8
  cuadrado(x)
  >>> 64
  '''

  cuad = x ** 2
  return cuad

In [43]:
# Probamos la nueva función
x = 2
# Aparenta un print
cuadrado_con_retorno(x)

4

In [44]:
# Asignamos el valor que devuelve
auxiliar = cuadrado_con_retorno(x)
# Mostramos el valor que devolvió
print(auxiliar)

4

## IF

In [45]:
# Igual
if 2 == "2":
  print("Es igual")
else:
  print("Son distintos")

Son distintos

In [46]:
# Igual
if 2 == 2:
  print("Es igual")
else:
  print("Son distintos")

Es igual

In [47]:
# Igual
if "Hola, mundo" == "hola, mundo":
  print("Es igual")
else:
  print("Son distintos")

Son distintos

In [48]:
# Dos comparaciones
if 5 < 10 and  5>1:
  print("Se cumple")
else:
  print("No se cumple")

Se cumple

In [49]:
# Dos comparaciones
if 10 <= 10 or  5>10:
  # Se cumple, puesto que basta sólo 1 verdad
  print("Se cumple")
else:
  print("No se cumple")

Se cumple

In [50]:
# distinto
if "Juan" != "Pepe":
  print("Es distinto")
else:
  print("No es distinto")

Es distinto

In [51]:
# incluido en lista
if 5 in ["1","2","5"]:
  print("Está en la lista")
else:
  print("No está en la lista")

No está en la lista

In [52]:
# incluido en lista
if 5 in ["1","2",5]:
  print("Está en la lista")
else:
  print("No está en la lista")

Está en la lista

In [53]:
# NO ESTÉ incluido en lista
if 5 not in ["1","2",5]:
  print("Condición VERDADERA, no está en la lista")
else:
  print("Condición FALSA, pues sí está en la lista")

Condición FALSA, pues sí está en la lista

In [54]:
# NO ESTÉ incluido en lista
if "5" not in ["1","2",5]:
  print("Condición VERDADERA, no está en la lista")
else:
  print("Condición FALSA, pues sí está en la lista")

Condición VERDADERA, no está en la lista

## For

In [55]:
# De 0 a 5
for i in range(5):
  print(i)

0
1
2
3
4

In [56]:
# De 1 a 5 con saltos de 2
for i in range(1,5,2):
  print(i)

1
3

In [57]:
# De 0 a -10 con saltos negativos
for i in range(0,-10,-2):
  print(i)

0
-2
-4
-6
-8

In [58]:
# recorriendo cada elemento de una lista
for niño in ["Tomás","Jaime","Arthur","Paco"]:
  print(niño)

Tomás
Jaime
Arthur
Paco

## While

In [59]:
# Ciclo 'infinito'
k = 0
while True:
  print(f"iteración: {k+1}")
  k+=1

  # Para efectos prácticos, pondremos nuestro freno
  if k == 10:
    # Rompe el ciclo, sea while o for
    break

iteración: 1
iteración: 2
iteración: 3
iteración: 4
iteración: 5
iteración: 6
iteración: 7
iteración: 8
iteración: 9
iteración: 10

In [60]:
aux = 5
# Ciclo  incremental
while aux < 10:
  print(aux)
  aux+=1

5
6
7
8
9

---
# Ejercicios
---



1.    Genera una Función que reciba 3 elementos:

     * Nombre de la tabla
     * Columnas
     * Valores

    Y devuelva una instrucción INSERT INTO. Por ejemplo:

    Funcion(variable1, variable2, variable3)
    
    \>>>"INSERT INTO empleados (nombre,edad,genero) VALUES ('Javier Gómez', 35, 'M');"

2.  Dado el siguiente texto: 

    "Mario compró: 6 manzanas, 4 peras, 2 naranjas, 1 limón"

    * Extrae en una lista las frutas y cantidades que compró Mario
    
      \>>> ["6 manzanas", "4 peras", "2 naranjas", "1 limón"]

    * **OPCIONAL**: Divide la lista en 2, una de strings y otra de enteros:

      \>>> ["manzanas", "peras", "naranjas", "limón"]

      \>>> [6, 4, 2, 1]
3. Genera una función que calcule la octava potencia de un número, la imprima y devuelva. Ejemplo de funcionamiento:

    numero = 8

    resultado = funcion(numero)

    \>>>"La octava potencia de ___  es ___"

    print(resultado)

    \>>> 16777216

4. Identifica los números de la siguiente lista:

    ["Hola","Adiós","Avión",4,"Samantha","Rodrigo",5]